.card-header {
  background-color: var(--brand-primary);
  color: var(--brand-secondary);
}

.observablehq > form > label {
  width: auto!important;
}

.f2 {
  font-size: 0.8em!important;
}

.quarto-dashboard aside.sidebar {
  background-color: var(--brand-tertiary);
}

.btn.btn-quarto {
  border-color: var(--brand-primary);
  color: white;
  background-color: var(--brand-primary);
}