.cell-output-display, .cell-output {
  padding-left: 10px;
  box-shadow: 3px 3px 0.05em #e3e3e3, -0.2em 0 .4em #e3e3e3;
}

code {
  text-wrap: wrap;
}

.omitshadow .cell-output-display  {
  box-shadow: 0px 0px 0em transparent!important;
}